* {
  margin-top: 0px;
  margin-left: 0px;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0, 0.5);
  --surface-color-hover: rgba(255, 255, 255, 255, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  max-width: 320px;
  margin: 56px auto;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/* background-image: url(./assets/assets/bg-mobile.jpg)inserir uma imagem no meu css*/

/*background-repeat: no-repeat
  
  imagem inserida tinha varias imagens ao lado , portando , precisava usar essa tag para não repetir varias imagens ao mesmo lado./* 

  /* background-position:center
  ess tag foi para centralizar minha imagem/*

  /* background-position:cover
   essa tag foi para prenhcer todo o espaço da minha tela , para nada fica em branco é sim com a imagem escolhida/*
}
  
/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 23px 0;
}

ul li a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 16px 26px;

  width: 12px 16px;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);

  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500px;
  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links ion-icon {
  font-size: 20px;
  margin-top: auto;
  margin-left: auto;
}

/*social links*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

/* social-links a:hover - queremos dizer que tudo que está na 'TAG'  'a' irá se emquadrar nos comandos a serem inserindos*/

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50px;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

/* nessa 'TAG' vamos alinhar o footer que é o rodapé da linha abaixo */

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white;
  border: 1px solid var(--stroke-color);
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  cursor: pointer;
}

.light #switch button {
  background: black;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}
